PORT=3000

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=sua_senha
PGDATABASE=mongomovie

JWT_SECRET=********
JWT_EXPIRES=1h

BASIC_USER=***********
BASIC_PASSWORD=************

RESEND_API_KEY=re_***************